.root {
  text-align: center;
}

/* logo section */
.hplogo {
  display: flex;
  flex-direction: row;
  background-color: #4b0082;
  padding-top: 20px;
}

.logo-buttons {
  display: flex;
  background-color: #4b0082;
  justify-content: right;
  padding-right: 160px;
  margin-top: -50px;
}

.logo-buttons img {
  width: 45px;
  height: 45px;
}

.hplogo img {
  width: 45px;
  height: 45px;
}

.upload-button {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.upload-button:hover {
  text-decoration: underline;
}

/* search bar */
.search-bar {
  width: 100%;
  padding: 10px;
  background-color: #4b0082;
}

#hpsearch {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 60px 0 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url("../../images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 20px;
  background-size: 20px;
  font-size: 16px;
}

/* buttons */
.buttons-list {
  width: 100%;
  background-color: #4b0082;
  padding: 20px 0;
  margin-bottom: 5vh;
}

div.buttons {
  display: flex;
  width: 80%;
  margin-left: 11vw;
}

div.buttons button {
  min-width: 10vw;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  color: #4b0082;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin-right: 5px;
}

div.buttons button:hover {
  background-color: #9951cc;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown-input {
  display: none;
  position: absolute;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-input {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #9951cc;
}

.container {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #4b0082;
  padding: 10px;
  width: 500px;
  background-color: white;
  border-radius: 50px;
  margin-top: 5px;
}

label {
  flex: 1;
  margin-right: 5px;
}

input[type="text"] {
  flex: 2;
  height: 40px;
  width: 10px;
  border-radius: 50px;
  font-size: 21px;
  border: none;
  outline: none;
}

.inputBox {
  text-align: center;
}

.room {
  font-size: 18px;
}

/* listings */
.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  justify-content: center;
}

/* Mobile Responsive Design */
@media screen and (max-width: 768px) and (max-device-width: 1024px) {
  .search-bar {
    padding: 20px;
  }

  #hpsearch {
    width: 100%;
  }

  .logo {
    font-size: 26px;
  }

  input {
    width: 100%;
  }

  .buttons-list {
    margin-bottom: 4vh;
  }

  div.buttons {
    flex-direction: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding: 0px 15px;
    gap: 5px;
  }

  div.buttons > * {
    flex: 1;
  }

  div.buttons button {
    width: 100%;
  }

  div.buttons button {
    margin-bottom: 15px;
  }

  .listings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 0px 20px;
  }

  .post {
    width: 100%;
  }

  .hplogo {
    display: flex;
    flex-direction: column;
  }

  .hplogo p {
    margin-left: -106px;
  }

  .logo-buttons {
    display: flex;
    background-color: #4b0082;
    justify-content: right;
    margin-top: 0px;
    justify-content: center;
    padding-top: 15px;
  }
}
