/* search bar */
.search-bar {
  width: 100%;
  padding: 10px;
  background-color: #4b0082;
}

#hpsearch {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 60px 0 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url("../../images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 20px;
  background-size: 20px;
  font-size: 16px;
}
