.root {
  text-align: center;
}

/* logo section */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background-color: #4b0082;
  margin-bottom: 30px;
}

.logo p {
  color: white;
  font-size: 32px;
  margin-left: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo img {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  object-fit: cover;
}

/* return home */

.return-home-btn,
#uploadFormSubmitBtn {
  text-decoration: none;
  width: 8vw;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  color: #4b0082;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin-right: 5px;
}

.return-home-btn:hover,
#uploadFormSubmitBtn:hover {
  background-color: #9951cc;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* form styling */
#uploadForm {
  padding-top: 25px;
  margin: auto;
  width: 50%;
}

.upload-form-control {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#uploadForm .upload-form-control input,
#uploadForm .upload-form-control select,
#uploadForm .upload-form-control textarea {
  font-size: 16px;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: auto;
  width: 50%;
}

#uploadForm input[type="text"] {
  flex: none;
}

#uploadForm label {
  margin-right: auto;
  flex: none;
}

#uploadForm .upload-form-control textarea {
  height: 50px;
  width: 50%;
}
