.Upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f9e1ff;
}

.up_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #440154;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    background-color: #eca0ff;
}

.up_form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.up_form  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#itemType{
    color: black;
    width: 72%;
    padding: 0;
    padding-left: 20px;
}

#condition{
    color: black;
    width: 72%;
    padding: 0;
    padding-left: 20px;
}

#propertyClass{
    color: black;
    width: 72%;
    padding: 0;
    padding-left: 20px;
}

#images{
    padding-top: 1vh;
    width : 72%;
}

#availableFromDate{
    width: 72%;
}

#availableToDate{
    width: 72%;
}

#submit_button{
    width: 50%;
    margin-left: 25%;
    background-color:rgb(208, 52, 247);
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#submit_button:hover{
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

#submit_button:active{
    background-color: #157f19;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 1);
    cursor: pointer;
}

.Return_home_button {
    color: white;
    text-decoration: none;
    border-style: solid;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    margin-left: 50%;
}
  
.Return_home_button:hover {
color: #711997;
background-color: white;
}

.Upload input{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 60px 0 45px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 20px;
    background-size: 20px;
    font-size: 16px;
}