/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.root {
  text-align: center;
}

/* logo section */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background-color: #4b0082;
}

.logo p {
  color: white;
  font-size: 32px;
  margin-left: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo img {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  object-fit: cover;
}

/* search bar */
.search-bar {
  width: 100%;
  padding: 10px;
  background-color: #4b0082;
}

input {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 60px 0 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url("../images/seach.png");
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  background-position: 20px;
  background-size: 20px;
  font-size: 16px;
}

/* buttons */
.buttons-list {
  width: 100%;
  background-color: #4b0082;
  padding: 20px 0;
  margin-bottom: 5vh;
}

div.buttons {
  display: flex;
  width: 80%;
  margin-left: 11vw;
}

div.buttons button {
  width: 8vw;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  color: #4b0082;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin-right: 5px;
}

div.buttons button:hover {
  background-color: #9951cc;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* listings */
.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .search-bar {
    padding: 20px;
  }

  .logo {
    font-size: 26px;
  }

  input {
    width: 100%;
  }

  .buttons-list {
    margin-bottom: 4vh;
  }

  div.buttons {
    flex-direction: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding: 0px 15px;
  }

  div.buttons button {
    width: 33%;
  }

  div.buttons button {
    margin-bottom: 15px;
  }

  .listings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 0px 20px;
  }

  .post {
    width: 100%;
  }
}
