.Listing_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
  align-self: center;
}

.Message_box {
  background-color: #711997;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.Message_box a {
  color: white;
}

.Message_box p {
  font-weight: bold;
  color: white;
}

.Details_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main_details {
  background-color: white;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Basic_info {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin: auto;
}

.Basic_info ul {
  margin: 0;
  padding: 0;
}

.Amenities {
  background-color: white;
  color: black;
  width: 100%;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Amenities p {
  text-align: center;
  font-weight: bold;
}
