.Listing_top{
    margin-bottom: 5vh;
}

.Listing_header{
    background-color: #711997;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1vw;
    color: white;
    padding-left: 3vw;
}