.Listing_top{
    margin-bottom: 5vh;
}

.Listing_header{
    background-color: #711997;
    display: flex;
    flex-direction: column;
    justify-content: center-between;
    height: 10vh;
    padding: 1vh 5vw 1vh 5vw;
}

.Listing_header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1vw;
    color: white;
}